@use "variables" as *;

nav {
    
    background-color: $color-invisible;
    a {
        border: 1px solid $color-main;
        padding: 1rem;
        font-size: 1.7rem;
        color: $color-main;

        &:hover {
            color: $color-hover;
            background-color: $bg-dark; 
            border: 1px solid $color-hover; 
        }

        &.active {
            // border-width: 2px;
            background-color: $bg-darker;
            &:hover {
                color: $color-main;
                background-color: $bg-darker;
                border: 1px solid $color-main;
                cursor: context-menu;
            }
        }
    }

    
}

