@use "variables" as *;

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
        display: flex;
        flex-flow: row;
    }

    li {
        &:not(:first-child) {
            margin-left: 2vw;
        }
    }

    a {
        border: 1px solid $color-main;
        padding: 1rem;
        font-size: 1.5rem;
        color: $color-main;

        &:hover {
            color: $color-hover;
            background-color: $bg-hover; 
            border: 1px solid $color-hover; 
        }
    }

}

