@use "variables" as *;

nav {
    background-color: $color-invisible;
    a {
        border: 1px solid $color-main;
        padding: 1rem;
        font-size: 1.7rem;
        color: $color-main;

        &:hover {
            color: $color-hover;
            background-color: $bg-dark;
            border: 1px solid $color-hover;
        }

        &.active {
            border-width: 0;
            background-color: $bg-color;
            // font-family: $mf-bold;
            &:hover {
                color: $color-main;
                cursor: context-menu;
            }
        }
    }

}

//SE Page
.SE {
    nav {
        a {
            border: 1px solid $color-main-se;

            &:hover {
                background-color: $bg-bright;
                color: black;
            }

            &.active {
                border-width: 0;
                background-color:  $bg-color-se;
                &:hover {
                    color: $color-main-se;
                }
            }
        }
        
    }
}
