@use "variables" as *;
/*******************
    Whole Page
*******************/
html {
    display: flex;
    justify-content: center;
}

body {
    max-width: 1600px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 2rem 2rem 0;
    
}


.hi-lo-divider {
    display: grid;
    grid-template-rows: 80px 1fr;

}

/*******************
  Left Section
*******************/
aside {
    display: flex;
    h1 {
        min-width: 360px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 2.9rem;
    }
    img {/*Busted Fingerz .gif*/
        width: 100%;
        margin: 1rem 0;
    }
    a {
        font-size: 2rem;
        &:hover {
            font-family: $mf-bold;
        }
    }
}


/*******************
   Right Section
*******************/
#artist-page {
    
    header {
        display: flex;
        justify-content: flex-end;
        position: sticky;
        top: 0;
        padding-top: 1rem;/*Compensates nav-padding, Important to align,*/
        background-color: $color-invisible;
        background-image: $bg-gradient;

        nav {
            ul {
            display: flex;
            flex-flow: row;
            }
            
            li {
                &:not(:first-child) {
                    margin-left: 2vw;
                }
            }
        }
        
    }
    header.SE {
        background-color: $color-invisible;
        background-image: $bg-gradient-se;
    }

    main {
        margin-top: 1rem;
        .home-page {
            img {
                margin-bottom: 1rem;
                width: 100%;
            }
            div {
                display: flex;
                font-size: $fs-nav;

                & p:first-child {
                    margin-right: 1rem;
                }
            }
        }
        section {
            margin-bottom: 2rem;
        }

        .invisible {
            display: none;
        }
  
        
    }
    
}
