@use "variables" as *;

.fader-box {
    position: absolute;
    right: 5vw;
    top: -93px;

    .fader { /*absolute box size*/
        position: absolute;
        width: 3.5vw;
        max-width: 50px;
        height: 95vh;

        input { /*clickable area*/
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            cursor: pointer;
            opacity: 0;
            z-index: 1;

            &:checked + div .slide { /*slide range*/
            transform: translateY(84vh);
            }
        }
        div {
            position: absolute;
            width: 100%;
            height: 100%;
            border-style: solid;
            border-width: 1px;
            // overflow: hidden;

            .slide { /*Slider Size*/
                position:absolute;
                margin: 4vh 10% 0;
                width: 80%;
                height: 20px;
                border: solid 1px;
                transition: 0.2s;
            }  
        }
        
        
        // .slide:before { /*Upper Area*/
        //    content: '';
        //     position:absolute;
        //     text-align: center;
        //     width: 100%;
        //     height: 2250%;
        //     top: -2250%;
        //     line-height: 2250%;
        //     color: rgb(250,250,250);
        //     background-color: rgb(55,55,55);
        // }
        // .slide:after { /*Bottom Area*/
        //     content: '';
        //     position: absolute;
        //     text-align: center;
        //     width: 2250%;
        //     height: 2250%;
        //     bottom: -2250%;
        //     line-height: 100%;
        //     color: rgb(0,0,0);
        //     background-color: rgb(200,200,200);
        // }
    }
}