/*Normal Font*/
@font-face {
    font-family: "MainFontLight";
    src: url("font/BellGothicStd-Light.otf");
}
/*Bold*/
@font-face {
    font-family: "MainFontBold";
    src: url("font/BellGothicStd-Black.otf");
}
