/*Variables for Busted Website*/
@use "typography" as *;
/*********
Font Stuff
*********/
$mf-light: "MainFontLight";
$mf-bold: "MainFontBold";

/***********
Calculations
***********/

$one-third-vw: calc(100vw/3);
$two-third-vw: calc(100vw/3*2);