/*Variables for Busted Website*/
@use "typography" as *;
/*********
Font Stuff
*********/
$mf-light: "MainFontLight";
$mf-bold: "MainFontBold";
/******************
  Color ArtistPage
******************/
$color-main: rgba(0, 0, 0, 0.9);
$color-hover: rgb(250,250,250);
$bg-color: rgb(203, 201, 203);
$bg-darker: rgba(0, 0, 0, 0.1);
$bg-dark: rgba(0, 0, 0, 0.8);
$color-invisible: rgba(255, 255, 255, 0);
$bg-gradient: linear-gradient( $bg-color, $bg-color, $bg-color, $bg-color, $bg-color, rgba(255, 255, 0, 0));

/*********************
  Color SoundEngineer
*********************/
$color-main-se: rgb(250,250,250, 0.9);
$bg-color-se: rgb(41, 40, 41);
$bg-brighter: rgba(250, 250, 250, 0.1);
$bg-bright: rgba(250, 250, 250, 0.8);
$bg-gradient-se: linear-gradient( $bg-color-se, $bg-color-se, $bg-color-se,$bg-color-se, $bg-color-se, rgba(255, 255, 0, 0));
