/*Variables for Busted Website*/
@use "typography" as *;
/*********
Font Stuff
*********/
$mf-light: "MainFontLight";
$mf-bold: "MainFontBold";
/***********
    Color
***********/
$color-main: rgba(0, 0, 0, 0.9);
$color-hover: rgb(250,250,250);
$bg-color: rgb(203, 201, 203);
$bg-hover: rgba(0, 0, 0, 0.8);
$color-invisible: rgba(255, 255, 255, 0);
$bg-gradient: linear-gradient( $bg-color, $bg-color, $bg-color, $bg-color, $bg-color, rgba(255, 255, 0, 0));