/*Main scss style sheet*/
@use "base";
@use "variables" as *;
@use "page-layout";
@use "typography";
@use "main-nav";
@use "switch";

/*Busted Fingerz .gif*/
aside {
    img{
        width: 80%;
    }
}

h1 {
    display: flex;
    align-items: center;
    font-size: 3.05vw;
}

#main-page {
    img {
        width: 100%;
    }
}

